/* ScrollableContainer {
    width: 100%;
    height: 1fr;
} */

Screen {   
    layers: below above;
}

.block {
    width: 100%;
    height: auto;
    border: hkey rgb(232, 207, 15);
    margin: 1 0;
    padding: 1;
    layer: below;
}

.block2 {
    width: 100%;
    height: auto;
    border: solid rgb(37, 163, 222);
    margin: 1 0;
    padding: 1;
    layer: below;
}

#item_match {
    margin: 1 0;
    padding: 1;
    color: blueviolet;
    layer: below;
}

#yearsbox {
    layer: above;
    dock: right;
    border: solid;
    width:15%;
    height:auto;
    margin: 1 0;
    padding: 1;
    visibility: hidden;
}

